body{
	
	font-family: normal Arial, Helvetica, sans-serif;

	line-height: 1.6em;
	margin:0;
}

.clr{
	clear: both;
}

.constrain{
	width:80%;
	margin: auto;
}

.header{
	width:100%;
	height: 217px;
	margin: 50px 20px;
	margin-bottom: 5px;
	box-shadow: 0 8px 6px -6px #979797;
}

.header a{
	text-decoration: none;
	color: #333;
	font-family: Helvetica Neue;
	font-size: 20px;
}

.header a:hover{
	color:#BA323C;
}

.header img{
	padding-right: 15px;
	padding-top: 35px;
}

.nav{
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	flex-wrap:nowrap;
	justify-content: flex-end;
	align-items: center;
}

.nav-item {
	height:50px;
	border-right: 3px solid #979797;
	text-align: center;
	text-decoration: none;
	padding-right:5%;
	padding-left: 5%;
	padding-top:17px;
	margin-top: 40px;
}

.nav .selected{
	color:#ba2330;
	text-decoration: underline;
}



.carousel-inner img{
	width: 100%;
}

.carousel-inner .item h3{
	background-color: rgba(255,255,255,0.4);
	color:black;
	padding:10px 0;
	margin:0;
}
.carousel-inner .item p{
	background-color: rgba(255,255,255,0.4);
	color:black;
	padding:10px 0;
	margin:0;
	font-size: 18px;
}

.banner1{
	display: -webkit-flex;
	display: flex;
	width:100%;
	height:80px;
	background-color: lightgrey;
	flex-direction: row;
	flex-wrap:nowrap;
	justify-content: space-around;
	align-items: center;
}

.banner1-item img{
	height:50px;
}

.banner2 {
	background-color: white;
	text-align: center;
	padding: 40px 0;
	border-bottom:3px solid #333;
}

.banner2 .banner2-flex{
	display: -webkit-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	margin:0 10%;
}

.banner2 .banner2-item{
	margin: 20px;
}


.banner2 h2{
	font-size: 40px;
	color: #8a2330;
}

.banner2 p{
	font-size: 18px;
	padding: 0 5%;
}


.banner3{
	display: -webkit-flex;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	border-bottom:3px solid #333;
	width: 100%;
	height: 50%;
}

.banner3-item{
	margin: 10px;
}

.banner3 img{
	width: 80%;
	margin-left: 6%;
	border:4px solid #3c5566;
	border-radius: 15px;
}

.banner3 h1{
	width: 300px;
	margin: 5%;
	margin-left: 0;
	margin-bottom: 6%;
	padding-bottom: 6%;
	border-bottom: 3px solid #979797;
	color: #8a2330;
}

.banner3 p{
	width: 300px;
	margin: 5%;
	margin-top: 7%;
	margin-left: 0;
	font-size: 18px;
}

.banner3 button{
	margin: 5%;
	margin-bottom: 0;
	margin-left: 0;
	background-color: #3c5566;
	font-size: 20px;
	color: #fff;
	padding: 8px 25px;
	border:#3c5566;
	border-radius: 10px;
}

.banner3 button:hover{
	background-color: #8a2330;
}

.publication{
	font-size: 18px;
	padding-bottom: 50px;

}

.publication h2{
	font-size: 40px;
	color: #8a2330;
}

.publication p{
	margin-left: 15%;

}

.publication a{
	text-decoration: none;
	font-style: italic;
	color: #3c5566;
}

.publication a:hover{
	color: #8a2330;
}

.banner4{
	display: grid;
	grid-template-columns: minmax(max-content,1fr) 1fr minmax(max-content,1fr);
	grid-template-rows: repeat(6 1fr);
	width: 100%;
	margin:100px 0;
}

.banner4 p{
	font-size: 20px;
	font-weight: bold;
}


.constrain h2{
	margin: 50px 0;
	font-size: 40px;
	text-align: center;
	color: #8a2330;
}

.descriptions{
	text-align: center;
	font-size: 18px;
	padding:0 10%;
}
.main{
	grid-row: 1/7;
	grid-column: 2/3;
	background-image: url(../images/research.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}


.phraseL{
	grid-column: 1/2;
	text-align: right;
	padding: 30px 10px;
	margin-right: -10px;
}


.phraseR{
	grid-column: 3/4;
	text-align: left;
	padding: 30px 10px;
	margin-left: -10px;
}

.row1{
	grid-row: 1/3;
}

.row2{
	grid-row: 3/5;
	padding: 60px;
	color: #8a2330;
}

.row3{
	grid-row: 5/7;
}



.faqs{
	font-size: 18px;
}

.faqs h2{
	color:#8a2330;
	margin: 30px 0;
}

.faqs div{
	margin: 30px 20px;
	padding-bottom: 20px;
	border-bottom: 1px dashed grey;
}

.faqs h3{
	margin: 15px 0;
}

.faqs p{
	margin-left:10px;
	font-weight: 700;
	font-size: 18px;
}

.faqs p:hover{
	color: #8a2330;
	opacity: 0.8;
}


.faqs a{
	text-decoration: underline;
}

.contactform{
	display: grid;
	grid-template-columns: 1fr 4fr 1fr;
	grid-template-rows: 1fr 2fr 2fr 1fr;
}

.bg1{
	background: radial-gradient(#fff, #3c5566);
	grid-column: 1/4;
	grid-row: 1/3;
}

.bg1 h3{
	margin-left: 6%;
	margin-top: 5%;
}

.bg2{
	background-color: #fff;
	grid-column: 1/4;
	grid-row: 3/5;
}

.content{
	background-color: #fff;
	box-shadow: -0px 8px 10px 5px #979797;
	grid-column: 2/3;
	grid-row: 2/4;
}

.my-form{
	padding:20px;
}

.content h2{
	color: #8a2330;
	text-align: center;
}

.my-form .form-group{
	padding: 0 6%;
	padding-bottom: 15px;
}

.my-form input[type="text"], .my-form textarea{
	padding:8px;
	width:100%;
	background-color: #e0e6e6;
	border: 2px solid #979797;
	border-radius: 5px;
}

.my-form textarea{
	min-height: 200px;
}

.my-form .button{
	margin: 5%;
	margin-bottom: 0;
	margin-left: 70%;
	background-color: #3c5566;
	font-size: 20px;
	color: #fff;
	padding: 8px 25px;
	border:#3c5566;
	border-radius: 10px;
}

.button:hover{
	background-color: #8a2330;
}

.videoBanner{
	padding: 30px 0;
	text-align: center;
	font-size: 18px;
	border-bottom:3px solid #333;
}

.videoBanner h1{
	color: #8a2330;
	font-size: 40px;
}

#videoCarousel{
	margin:50px 0;
}

.video-fluid{
	width:100%;
}


.footer{
	background-color: #3c5566;
}

.footer .logo img{
	padding: 20px 10px;
}


.footer .footer-flex{
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.footer .footer-item{
	padding:0 5%;
	text-align: center;
	/*border: 2px #333 solid;*/
}

.footer a{
	text-decoration: none;
	color:#fff;
}

.footer a:hover{
	color:#ba323c;
}

.footer ul{
	list-style: none;
	padding: 0;
	font-size: 18px;
}

.footer h3{
	color:#fff;
	margin-bottom: 40px;
}

.footer .footer-item img{
	padding: 5px;
	width:30%;
}

.footer .mid{
	padding: 0 50px;
	flex-grow: 10;
	border-right: 3px solid white;
	border-left: 3px solid white;
}

.footer .pic{
	width:100%;
	padding-top: 50px;
}

.footer p{
	text-align: center;
	padding-top: 30px;
	color:#fff;
}











